.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.dataContainer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.actions {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 40px;
  width: calc(100vw - 64px);
  height: 32px;
  z-index: 2;
  background: white;
}

.action-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.dataItem {
  padding: 8px;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
